<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%# messages() %>

    <section>
      
        <div><a href="/inv/addClassification">Add a classification</a></div>
        <div><a href="/inv/addVehicle">Add a vehicle</a></div>
      
        
        
    </section>